body    {
    font-family: 'Courgette', cursive !important;
}

.blog-header {
    background-color: #E5E7E9;
    margin-bottom: 15px;
}

.blog-logo {
    width: 150px;
    max-width: 150px;
    margin: 15px;
}

.social-media {
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
}

.social-media i {
    font-size: 2rem;
    margin: 15px 5px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    text-decoration: none;
    color: black !important;
}

.nav {
    justify-content: space-around;
}

.nav-item {
    padding: 0px;
    border-radius: 5px;
    background-color: #d94721;
    width: 13%;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: #3a4750;
    color: white !important;
}

.nav-item:hover a {
    color: white !important;
}

img {
    width: 100%;
}

textarea[name] comment {
    width: 100%;
    border-radius: 10px;
}

.icon-user-comment {
    font-size: 50px;
}

.comment-post {
    width: 100%;
    border-radius: 15px;
    border-color: #d94721;
}

.comment-post:focus {
    outline: none;
    border-color: #3a4750;
}

@media (max-width: 767px) {
    .nav-item {
        width: 100%;
    }

    .comment-row {
        margin-top: 15px;
    }
}